body {
  margin: 0;
  font-family: "Open sans",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
:root{
  --dark-purple:#160F29;
  --carribbean-current:#246A73;
  --dark-cyan:#368F8B;
  --champagne:#F3DFC1;
  --desert-sand:#DDBEA8;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 1250px){
  .navbar{
    height: fit-content;
  }
  .burger-menu{
    display: block;
    height: 2px;
    background-color: white;
    position: absolute;
    width: 100%;
  }
  .burger-menu::before{
    content: '';
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: white;
    top: 5px;
    left: 0;
  }
  .burger-menu::after{
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    position: absolute;
    background-color: white;
    bottom: 5px;
  }
  .burger-button{
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
  }
  .movie-links{
    display: none;
    flex-direction: column;
    position: fixed;
    right: 0;
    padding: 1em;
    top: 0;
    justify-content: center;
    background-color: var(--champagne);
    height: 100%;
    width: 200px;
    z-index: 1000;
  }
  .circle-holder{
    width: 100%;
  }
  .toggle-menu-mobile-btn{
    display: block;
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 1em;
  }
  .toggle-menu-mobile-btn::before{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    transform: rotate(45deg);
    position: absolute;
    background-color: rgb(0, 0, 0);
  }
  .toggle-menu-mobile-btn::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: rgb(0, 0, 0);
  }
  .toggle-menu-mobile-btn:hover::before,
.toggle-menu-mobile-btn:hover::after {
    background-color: white;
}
}
.navbar{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 1em;
  background: linear-gradient(250deg, var(--champagne), var(--desert-sand));
}

.navbar input[type="text"]{
  font-size: 20;
}

.movie-links{
  display: flex;
  gap: 2em;
}
.button-to-movies{
  padding: .75em;
  font-size: 1em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 .4em;
  transition: .1s ease-in-out;
  text-wrap: nowrap;
}
.button-to-movies:hover{
  background-color: var(--dark-cyan);
  color: white;
}
.movies-logo{
  max-height: 10vh;
  max-width: 20vh;
  padding: 10px;
}
.load-buttons{
  display: flex;
  justify-content: center;
  gap: 1em;
}

.load-buttons button{
  padding: .5em 1em;
  border-radius: 20px;
  border: 1px solid black;
  outline: none;
  transition: .2s ease;
}
.load-buttons button:hover{
  cursor: pointer;
  background-color: var(--dark-cyan);
  color: white;
}

.loading-top-rated{
  width: 100%;
  height: 20vh;
  background: linear-gradient(45deg,var(--dark-purple),var(--carribbean-current));
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-box{
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  position: relative;
}
.search-bar{
  font-size: 1.5em;
  padding: .2em;
  min-width: 300px;
  border-radius: 10px;
  border: .1px solid black;
  background-color: transparent;
  outline: none;
  display: flex;
}
.search-bar-input{
  font-size: 1.2em;
  background: transparent;
  border: none;
  outline: none;
}
.select-movie-box{
  padding: 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--dark-purple);
  color: #fff;
  box-shadow: 0 0 10px 1px #000;
  justify-self: center;
  width: 800px;
  padding: 2em;
}
.movie-details-box{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: .5em 1.6em;
  justify-content: space-between;
}
.select-movie-details-box{
  display: flex;
  position: relative;
  box-sizing: border-box;
  justify-content: center;
}
.search-btn{
    width: 40px;
    height: 40px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}


.position-abs{
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  height: 40px;
}


.light{
  color:black;
}
.light-text{
  color: black;
}
.circle-holder{
  width: 7vh;
  height: 4.75vh;
  background-color: black;
  border-radius: 5em;
  padding: 0 .3em;
  padding-top: 8px;
  transition: .3s ease;
  position: relative;
}
.flex{
  display:flex;
  flex-direction: column;
}
.text-white{
  color: white;
}
.circle{
  width: 3.5vh;
  height: 3.5vh; 
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  top: 0.35em;
}
.movie-lists{
  display: flex;
  justify-content: center;
  padding: 1em;
  gap: 1em;
  min-height: 70vh;
  background-image: url("/public/images/movie-background-image-4k.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.movie-display{
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 1em;
}
.movie-wrapper{
  width: 100%;
  min-height: 80vh;
  border-radius: 10px;
  padding: 1em;
  background-color: var(--champagne);
  opacity: .9;
  height: fit-content;
}
.movie-box{
  border-radius: 10px;
  height: fit-content;
  position: relative;
  padding: 1em;
  display: flex;
  gap: 1em;
  transition: .3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 4px;
}
.movie-box:hover{
  background-color: var(--dark-purple);
  color: white;
  box-shadow: #000;
}
.movie-box-plot{
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  letter-spacing: auto;
  gap:3em;
  height: 100%;
}

.ratings-list{
  list-style: none;
}

.movie-box-info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.movie-box img{
  border-radius: 10px;
}
.ex-mark{
  position: absolute;
  width: 100%;
  z-index: 999;
  right: 0;
  top: 1em;
}

.pos-rel{
  position: relative;
}

.ex-mark::after{
  content: url("/public/SVG/deleteBtn.svg");
  position: absolute;
  right: 30px;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.text-no-wrap{
  white-space: nowrap;       /* Prevent text from wrapping to a new line */
  overflow: hidden;          /* Hide any content that overflows */
  text-overflow: ellipsis;
}
.text-wrap{
  white-space: wrap;
  justify-self: center;
}
.star-container{
  width: 100%;
  height: 20px;
  margin: 0;
}
.star-container svg{
  height: 20px;
}

.dark-mode-background{
  background-color: var(--dark-purple);
}
.star-rating {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* Ensures all stars fit inside the container */
  display: flex;
  gap: .5em;
}
.padding-p5{
  padding: .5em;
}
.stars {
  display: inline-block;
  mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 10"%3E...populate%a well`star_icons,/TRUSTIFUL')
  }
  /* .circle-right{
  width: 4vh;
  height: 4vh; 
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
  justify-self: right;
} */

.footer-display{
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
  background: linear-gradient(250deg, var(--desert-sand), var(--champagne));
}
.footer-text{
  font-size: 2em;
  font-family: 'Poppins';
}
.copyright{
  font-size: .7em;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  bottom: 1em;
}

.add-movie-btn{
  transition:.3s ease;
  height:40px;
  border-radius:10px;
  border:none;
  cursor:pointer;
  font-size: 1em;
  width: 400px;
  align-self: center;
}
.back-btn{
  position: absolute;
  cursor: pointer;
  background-color: white;
  padding: .2em;
  color: black;
  font-size: 2em;
  line-height: 10px;
  width:50px;
  height: 50px;
  padding: .36em;
  border-radius: 20px;
  display: flex;
  align-items: center;
}top-rated-movie

.back-btn:hover svg{
  fill:#3122b3;
}

.add-movie-btn:hover{
  background:radial-gradient(var(--dark-cyan),var(--carribbean-current)) ;
  color: white;
}
.add-movie-btn:hover::after{
  content: '+';
}
.dark-text-and-border{
  border-color: var(--champagne);
  color: white;
}

.dark-movie-box{
  background: linear-gradient(90deg,var(--carribbean-current),var(--dark-cyan));
  color: white;
}
.dark-movie-box:hover{
  background: linear-gradient(90deg,var(--champagne),var(--champagne));
  color: black;
}
.top-rated{
    display: flex;
    list-style-type: none;
    overflow: hidden;
    padding: 1em;
}
.top-rated-movie{
  display: flex;
  height: 20vh;
  width: 37.5vh;
  background: linear-gradient(45deg,var(--desert-sand),var(--dark-cyan));
  border-radius: 10px;
  gap: 2em;
  transition: .2s ease-in-out;
  cursor: pointer;
  border: 4px solid;
  border-radius: 10px;
}
.top-rated-movie:hover{
  border: 4px solid #877ddd;
}
.top-rated-container{
  display: flex;
  flex-direction: column;
  background: linear-gradient(250deg,var(--champagne),var(--desert-sand));
  gap: 1em;
  overflow: hidden;
  padding: 1em 2em;
  height: 32.5vh;
}
.top-rated-movies{
  display: grid;
  grid-auto-flow: column;
  gap: .5em;
  padding: 1em;
}
.movie-info{
  vertical-align: middle;
  background-color: rgba(50,50,50,.7);
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  border-radius: 10px;
  transition: .3s ease-in-out;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em;
  color: white;
}
.movie-info:hover{
  border-radius: none;
}
.dark{
  background: linear-gradient(90deg,var(--dark-purple),var(--carribbean-current));
  color: white;
}

.carousel-item-padding-10-px {
  padding: 0 10px;
}

.custom-dot-list-style {
  bottom: -50px !important;
}

.custom-dot-list-style button {
  border: none;
  background: var(--desert-sand);
}

.custom-dot-list-style .react-multi-carousel-dot--active button {
  background: var(--dark-cyan);
}

.react-multi-carousel-list{
  padding: 0;
}

.react-multiple-carousel__arrow {
  background: var(--dark-cyan) !important;
}

.react-multiple-carousel__arrow:hover {
  background: var(--carribbean-current) !important;
}

.carousel{
  position: relative;
  display: flex;
}
.carousel-button{
  z-index: 3;
  border: none;
  cursor: pointer;
  background: none;
  transition: .3s ease;
  position: absolute;
  height: 100%;
  width: 4em;
}
.right{
  right: 0;
}
.left{
  left: 0;
}
.carousel-button:hover{
  color: white;
  background-color: var(--carribbean-current);
}
.top-rated-title{
  padding-left: .5em;
}
.loading-movie{
  width: 100%;
  height: 80vh;
  font-size: 2em;
  color: white;
}

.watched-movie-list{
  padding: 1em;
}

.watched-movie-list h2{
  margin-bottom: 1em;
}
.watched-movie-list ul{
  display: grid;
  grid-template-columns: repeat(3,33%);
  gap: 1em;
}

.burger-menu{
  display: none;
}
.burger-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
}
.toggle-menu-mobile-btn{
  background-color: transparent;
  border: none;
  display: none;
  position: relative;
}

@media (max-width: 1250px){
  .navbar{
    height: fit-content;
  }
  .burger-menu{
    display: block;
    height: 2px;
    background-color: white;
    position: absolute;
    width: 100%;
  }
  .burger-menu::before{
    content: '';
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: white;
    top: 5px;
    left: 0;
  }
  .burger-menu::after{
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    position: absolute;
    background-color: white;
    bottom: 5px;
  }
  .burger-button{
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
  }
  .movie-links{
    display: none;
    flex-direction: column;
    position: fixed;
    right: 0;
    padding: 1em;
    top: 0;
    justify-content: center;
    background-color: var(--champagne);
    height: 100%;
    width: 200px;
    z-index: 1000;
  }
  .circle-holder{
    width: 100%;
  }
  .toggle-menu-mobile-btn{
    display: block;
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 1em;
  }
  .toggle-menu-mobile-btn::before{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    transform: rotate(45deg);
    position: absolute;
    background-color: rgb(0, 0, 0);
  }
  .toggle-menu-mobile-btn::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: rgb(0, 0, 0);
  }
  .toggle-menu-mobile-btn:hover::before,
.toggle-menu-mobile-btn:hover::after {
    background-color: white;
}
}
